* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1260px;
  margin: auto;
}
.slick-prev {
  left: 30%;
  top: 66%;
  z-index: 99999;
}
.slick-next {
  right: 30%;
  z-index: 9999;
  top: 66%;
}

.links > * {
  margin-right: 10%;
}
#filled-number {
  background: white;
  border: 1px solid silver;
  height: 1px;
  text-align: center;

}
